---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "December 2024 - Present",
    title: "Program Associate",
    company: "Salt Lake Community College",
    description:
      "I support the planning, coordination, and execution of student success initiatives within the assigned academic or administrative department. My responsibilities include maintaining accurate records, coordinating communication between faculty, staff, and students, and helping ensure that college programs run efficiently and effectively.",
  },
  {
    date: "July 2022 - December 2024",
    title: "Athlete Services Coach",
    company: "Nike",
    description:
      "I led a team of Athletes to deliver top-tier customer service while representing the Nike brand. I provided real-time coaching, supported daily operations, and helped drive sales and service goals. I focused on building a positive, inclusive team culture where performance and customer connection came first.",
  },
    {
    date: "April 2019 - July 2022",
    title: "Assets Protection Team Leader",
    company: "Target Corporation",
    description:
      "I led the store’s safety and security efforts while supporting overall operational excellence. I trained and developed a team to prevent theft, reduce shortage, and respond to safety incidents with professionalism and urgency. I partnered with store leadership to implement loss prevention strategies, conducted internal investigations, and ensured all team members followed company policies and safety procedures. My focus was on creating a safe, secure, and welcoming environment for both guests and team members—while protecting the store’s profitability and reputation.",
  },
  {
    date: "July 2018 - April 2019",
    title: "Attractions Host",
    company: "Walt Disney Parks & Resorts",
    description:
      "I created magical experiences for guests by operating rides safely, managing crowd flow, and delivering exceptional guest service. I ensured the attraction ran smoothly and efficiently, all while engaging with guests to answer questions, provide assistance, and bring the Disney spirit to life. Whether I was giving safety spiels, assisting with accessibility needs, or helping families create lifelong memories, I took pride in making every moment at the park feel special.",
  },
  {
    date: "July 2017 - April 2019",
    title: "Special Services Team Leader",
    company: "Universal Parks & Resorts",
    description:
      "I supported a team of agents handling complex guest situations, including escalated concerns, VIP reservations, ADA accommodations, and other specialized requests. I provided real-time coaching, resolved high-level issues with empathy and efficiency, and ensured our team delivered world-class service over the phone and through digital channels. I also collaborated with cross-functional departments to align on policies and maintain a smooth guest experience from booking to park visit. My role combined leadership, problem-solving, and a deep commitment to guest satisfaction.",
  },
  {
    date: "April 2017 - July 2018",
    title: "Department Supervisor",
    company: "The Villages Golf Carts",
    description:
      " I managed the daily operations of the delivery team, ensuring timely and accurate transportation of golf cars to customers and retail locations. I coordinated schedules, routed deliveries efficiently, and maintained high standards of safety and customer service. I also trained and led a team of drivers, handled logistics challenges in real time, and collaborated with sales and service departments to streamline the delivery process. My focus was always on providing a seamless customer experience and keeping operations running smoothly.",
  },
      {
    date: "February 2017 - April 2019",
    title: "Product & Technical Specialist",
    company: "Apple",
    description:
      "I served as a trusted resource for customers seeking guidance on Apple’s hardware, software, and ecosystem. I combined deep product knowledge with technical troubleshooting to help users resolve issues, discover new features, and get the most out of their devices. I provided hands-on support in-store, offered personalized recommendations, and ensured every interaction reflected Apple’s commitment to innovation and user experience. I also collaborated closely with team members to maintain workflow efficiency, share insights, and deliver a seamless customer journey.",
  },
      {
    date: "February 2017 - April 2019",
    title: "Apple Product Specialist",
    company: "Best Buy",
    description:
      "I acted as the in-store expert on all things Apple. I educated customers on the features and benefits of Apple products, including iPhone, iPad, Mac, Apple Watch, and accessories, helping them find the best solutions to fit their needs. I delivered personalized demos, stayed up to date on the latest product launches, and collaborated with Best Buy and Apple teams to ensure a premium retail experience. My goal was always to represent the Apple brand with knowledge, passion, and exceptional service.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>