---
import Layout from "../../../layouts/Layout.astro";
import Categories from "../../../components/blog/categories.astro";
import Heading from "../../../components/ui/Heading.astro";

const pageTitle = "institutions"; // Fixed: Title was "Languages" but heading shows "Technologies"
const allPosts = await Astro.glob("../posts/*.md");
const institutions = [
    ...new Set(allPosts.map((post) => post.frontmatter.institutions).flat()),
];
---

<Layout pageTitle={pageTitle}>
    <section class="py-8">
        <div class="flex flex-col gap-8 max-w-3xl mx-auto">
            <Heading text="Categories" />
            <Categories variant="vertical" institutions={institutions} /> <!-- Fixed: Missing institutions prop -->
        </div>
    </section>
</Layout>
